* {
    box-sizing: border-box;
}

html,body {
  font-family: 'Raleway', sans-serif;
  width:100%;
  height: 100%;
  margin: 0;
  background: #F8F8F8;
  padding: 0;
  
}
/*------------------------------------------------ general----------------------------------- */
a{
    text-decoration: none;
}
i{
  margin-right: 8px;
}
.icon{
  font-size: 100px;
  color:lightgray;
}
.icon-small{
  font-size: 35px;
  
}
.red{
  color: rgb(82, 224, 39);
}

/* --------------------------------------------main part ---------------------------------- */
.main{
  /* background-image: url("../assests/background_image3.png"); */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100%;
  justify-content: space-evenly;
}

.main .ruleWrap div{
  line-height: 1.6;
  padding: 5px 0px;
  font-weight: 600;
  word-spacing: 1px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.main .ruleWrap .iconText{
  font-size: 80px;
  font-weight: 700;
  
}

/* ---------------------------------   button styling  ---------------------------------------- */
.button {
  border-radius: 4px;
  background-color: #74f41e;
  border: none;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 20px;
  width: 200px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
